[FILEINFO]
Program: jrs
Algorithm: VC-DOMLEM
DataFileDirectory: C:\Users\julio\Google Drive\1stRev DRSA_4OR\data\inputData\drsa\simulation_wrt_RefSetSize\rand36
DataFileName: drsa_countryRisk_2014_sim13.isf
Objects: 36
Decision: d
Duration: 20 [ms]
Comment: Rules generated with VC-DOMLEM algorithm

[PARAMETERS]
RulesFormat: INFORMATION_TABLE_PARETO
ConsistencyLevel: 1.0
Classes: 3, 2, 1

[ATTRIBUTES]
+ at1: (continuous), gain
+ at2: (continuous), gain
+ at3: (continuous), gain
+ at4: (continuous), gain
+ at5: (continuous), gain
+ at6: (continuous), gain
+ at7: (continuous), gain
+ at8: (continuous), cost
+ at9: (continuous), cost
+ d: [1, 2, 3], cost, decision

decision: d

[PREFERENCES]
at1: gain
at2: gain
at3: gain
at4: gain
at5: gain
at6: gain
at7: gain
at8: cost
at9: cost
d: cost

[RULES]
#Certain at least rules
1: (at2 >= 75.62904103026268) => (d <= 1) |CERTAIN, AT_LEAST, 1|
2: (at8 <= 4.53433612462771) => (d <= 1) |CERTAIN, AT_LEAST, 1|
3: (at1 >= 42949.14222854978) & (at3 >= 19.48933626119189) => (d <= 1) |CERTAIN, AT_LEAST, 1|
4: (at3 >= 38.51258535198782) & (at8 <= 10.1892333333333) => (d <= 1) |CERTAIN, AT_LEAST, 1|
5: (at2 >= 61.52261968031297) => (d <= 2) |CERTAIN, AT_LEAST, 2|
6: (at4 >= 2.81530312703203E10) => (d <= 2) |CERTAIN, AT_LEAST, 2|
7: (at1 >= 9555.244217331405) & (at8 <= 10.5225) => (d <= 2) |CERTAIN, AT_LEAST, 2|
8: (at1 >= 6756.752769265565) & (at4 >= 9.82600254400792E9) => (d <= 2) |CERTAIN, AT_LEAST, 2|
#Certain at most rules
9: (at1 <= 3998.027472757989) & (at4 <= 2.32817423615305E10) => (d >= 3) |CERTAIN, AT_MOST, 3|
10: (at1 <= 10490.0813312933) & (at3 <= 13.08250062729976) => (d >= 3) |CERTAIN, AT_MOST, 3|
11: (at2 <= 24.76497830303853) & (at5 <= 3.710053797865662E11) => (d >= 3) |CERTAIN, AT_MOST, 3|
12: (at8 >= 10.2916666666667) => (d >= 2) |CERTAIN, AT_MOST, 2|
13: (at1 <= 6168.26489540709) => (d >= 2) |CERTAIN, AT_MOST, 2|
14: (at3 <= 18.07151549645933) => (d >= 2) |CERTAIN, AT_MOST, 2|
15: (at6 <= 2.84799100835912E9) => (d >= 2) |CERTAIN, AT_MOST, 2|
16: (at2 <= 25.79296504882325) & (at8 >= 9.46666666666667) => (d >= 2) |CERTAIN, AT_MOST, 2|

[RULESINFO]
#Certain at least rules
1: (at2 >= 75.62904103026268) => (d <= 1) |CERTAIN, AT_LEAST, 1|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12
Support: 5
SupportingExamples: 2, 4, 5, 9, 11
Strength: 0.1388888888888889
Confidence: 1.0
CoverageFactor: 0.4166666666666667
Coverage: 5
CoveredExamples: 2, 4, 5, 9, 11
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.3225806451612903
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

2: (at8 <= 4.53433612462771) => (d <= 1) |CERTAIN, AT_LEAST, 1|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12
Support: 3
SupportingExamples: 5, 6, 7
Strength: 0.08333333333333333
Confidence: 1.0
CoverageFactor: 0.25
Coverage: 3
CoveredExamples: 5, 6, 7
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.18181818181818182
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

3: (at1 >= 42949.14222854978) & (at3 >= 19.48933626119189) => (d <= 1) |CERTAIN, AT_LEAST, 1|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12
Support: 6
SupportingExamples: 1, 4, 5, 8, 11, 12
Strength: 0.16666666666666666
Confidence: 1.0
CoverageFactor: 0.5
Coverage: 6
CoveredExamples: 1, 4, 5, 8, 11, 12
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.4
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

4: (at3 >= 38.51258535198782) & (at8 <= 10.1892333333333) => (d <= 1) |CERTAIN, AT_LEAST, 1|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12
Support: 5
SupportingExamples: 3, 4, 10, 11, 12
Strength: 0.1388888888888889
Confidence: 1.0
CoverageFactor: 0.4166666666666667
Coverage: 5
CoveredExamples: 3, 4, 10, 11, 12
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.3225806451612903
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

5: (at2 >= 61.52261968031297) => (d <= 2) |CERTAIN, AT_LEAST, 2|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24
Support: 10
SupportingExamples: 2, 3, 4, 5, 9, 11, 12, 13, 15, 24
Strength: 0.2777777777777778
Confidence: 1.0
CoverageFactor: 0.4166666666666667
Coverage: 10
CoveredExamples: 2, 3, 4, 5, 9, 11, 12, 13, 15, 24
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.19230769230769232
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

6: (at4 >= 2.81530312703203E10) => (d <= 2) |CERTAIN, AT_LEAST, 2|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24
Support: 8
SupportingExamples: 1, 4, 5, 6, 10, 16, 17, 19
Strength: 0.2222222222222222
Confidence: 1.0
CoverageFactor: 0.3333333333333333
Coverage: 8
CoveredExamples: 1, 4, 5, 6, 10, 16, 17, 19
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.14285714285714285
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

7: (at1 >= 9555.244217331405) & (at8 <= 10.5225) => (d <= 2) |CERTAIN, AT_LEAST, 2|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24
Support: 18
SupportingExamples: 1, 2, 4, 5, 6, 7, 8, 9, 11, 12, 14, 15, 17, 20, 21, 22, 23, 24
Strength: 0.5
Confidence: 1.0
CoverageFactor: 0.75
Coverage: 18
CoveredExamples: 1, 2, 4, 5, 6, 7, 8, 9, 11, 12, 14, 15, 17, 20, 21, 22, 23, 24
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.5
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

8: (at1 >= 6756.752769265565) & (at4 >= 9.82600254400792E9) => (d <= 2) |CERTAIN, AT_LEAST, 2|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24
Support: 11
SupportingExamples: 1, 4, 5, 6, 7, 9, 10, 16, 17, 18, 21
Strength: 0.3055555555555556
Confidence: 1.0
CoverageFactor: 0.4583333333333333
Coverage: 11
CoveredExamples: 1, 4, 5, 6, 7, 9, 10, 16, 17, 18, 21
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.22
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

#Certain at most rules
9: (at1 <= 3998.027472757989) & (at4 <= 2.32817423615305E10) => (d >= 3) |CERTAIN, AT_MOST, 3|
LearningPositiveExamples: 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36
Support: 10
SupportingExamples: 25, 26, 27, 28, 29, 31, 32, 34, 35, 36
Strength: 0.2777777777777778
Confidence: 1.0
CoverageFactor: 0.8333333333333334
Coverage: 10
CoveredExamples: 25, 26, 27, 28, 29, 31, 32, 34, 35, 36
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.7692307692307693
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

10: (at1 <= 10490.0813312933) & (at3 <= 13.08250062729976) => (d >= 3) |CERTAIN, AT_MOST, 3|
LearningPositiveExamples: 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36
Support: 4
SupportingExamples: 33, 34, 35, 36
Strength: 0.1111111111111111
Confidence: 1.0
CoverageFactor: 0.3333333333333333
Coverage: 4
CoveredExamples: 33, 34, 35, 36
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.25
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

11: (at2 <= 24.76497830303853) & (at5 <= 3.710053797865662E11) => (d >= 3) |CERTAIN, AT_MOST, 3|
LearningPositiveExamples: 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36
Support: 7
SupportingExamples: 25, 27, 28, 29, 30, 32, 36
Strength: 0.19444444444444445
Confidence: 1.0
CoverageFactor: 0.5833333333333334
Coverage: 7
CoveredExamples: 25, 27, 28, 29, 30, 32, 36
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.4827586206896552
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

12: (at8 >= 10.2916666666667) => (d >= 2) |CERTAIN, AT_MOST, 2|
LearningPositiveExamples: 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36
Support: 15
SupportingExamples: 14, 16, 18, 19, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36
Strength: 0.4166666666666667
Confidence: 1.0
CoverageFactor: 0.625
Coverage: 15
CoveredExamples: 14, 16, 18, 19, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.35714285714285715
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

13: (at1 <= 6168.26489540709) => (d >= 2) |CERTAIN, AT_MOST, 2|
LearningPositiveExamples: 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36
Support: 12
SupportingExamples: 13, 19, 25, 26, 27, 28, 29, 31, 32, 34, 35, 36
Strength: 0.3333333333333333
Confidence: 1.0
CoverageFactor: 0.5
Coverage: 12
CoveredExamples: 13, 19, 25, 26, 27, 28, 29, 31, 32, 34, 35, 36
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.25
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

14: (at3 <= 18.07151549645933) => (d >= 2) |CERTAIN, AT_MOST, 2|
LearningPositiveExamples: 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36
Support: 10
SupportingExamples: 20, 21, 23, 24, 29, 32, 33, 34, 35, 36
Strength: 0.2777777777777778
Confidence: 1.0
CoverageFactor: 0.4166666666666667
Coverage: 10
CoveredExamples: 20, 21, 23, 24, 29, 32, 33, 34, 35, 36
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.19230769230769232
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

15: (at6 <= 2.84799100835912E9) => (d >= 2) |CERTAIN, AT_MOST, 2|
LearningPositiveExamples: 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36
Support: 5
SupportingExamples: 15, 22, 24, 29, 35
Strength: 0.1388888888888889
Confidence: 1.0
CoverageFactor: 0.20833333333333334
Coverage: 5
CoveredExamples: 15, 22, 24, 29, 35
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.08064516129032258
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

16: (at2 <= 25.79296504882325) & (at8 >= 9.46666666666667) => (d >= 2) |CERTAIN, AT_MOST, 2|
LearningPositiveExamples: 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36
Support: 12
SupportingExamples: 16, 17, 18, 19, 25, 26, 27, 28, 29, 30, 32, 36
Strength: 0.3333333333333333
Confidence: 1.0
CoverageFactor: 0.5
Coverage: 12
CoveredExamples: 16, 17, 18, 19, 25, 26, 27, 28, 29, 30, 32, 36
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.25
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

