[FILEINFO]
Program: jrs
Algorithm: VC-DOMLEM
DataFileDirectory: C:\Users\julio\Google Drive\1stRev DRSA_4OR\data\inputData\drsa\simulation_wrt_RefSetSize\rand18
DataFileName: drsa_countryRisk_2014_sim26.isf
Objects: 18
Decision: d
Duration: 7 [ms]
Comment: Rules generated with VC-DOMLEM algorithm

[PARAMETERS]
RulesFormat: INFORMATION_TABLE_PARETO
ConsistencyLevel: 1.0
Classes: 3, 2, 1

[ATTRIBUTES]
+ at1: (continuous), gain
+ at2: (continuous), gain
+ at3: (continuous), gain
+ at4: (continuous), gain
+ at5: (continuous), gain
+ at6: (continuous), gain
+ at7: (continuous), gain
+ at8: (continuous), cost
+ at9: (continuous), cost
+ d: [1, 2, 3], cost, decision

decision: d

[PREFERENCES]
at1: gain
at2: gain
at3: gain
at4: gain
at5: gain
at6: gain
at7: gain
at8: cost
at9: cost
d: cost

[RULES]
#Certain at least rules
1: (at8 <= 5.0) => (d <= 1) |CERTAIN, AT_LEAST, 1|
2: (at9 <= 3.179780935439958) => (d <= 1) |CERTAIN, AT_LEAST, 1|
3: (at1 >= 6168.26489540709) => (d <= 2) |CERTAIN, AT_LEAST, 2|
4: (at3 >= 34.30465633300208) => (d <= 2) |CERTAIN, AT_LEAST, 2|
#Certain at most rules
5: (at9 >= 8.493544936396667) => (d >= 3) |CERTAIN, AT_MOST, 3|
6: (at1 <= 3998.027472757989) & (at3 <= 29.63653298966147) => (d >= 3) |CERTAIN, AT_MOST, 3|
7: (at1 <= 16973.67421310987) => (d >= 2) |CERTAIN, AT_MOST, 2|
8: (at8 >= 8.15166666666667) => (d >= 2) |CERTAIN, AT_MOST, 2|

[RULESINFO]
#Certain at least rules
1: (at8 <= 5.0) => (d <= 1) |CERTAIN, AT_LEAST, 1|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6
Support: 5
SupportingExamples: 1, 3, 4, 5, 6
Strength: 0.2777777777777778
Confidence: 1.0
CoverageFactor: 0.8333333333333334
Coverage: 5
CoveredExamples: 1, 3, 4, 5, 6
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.7692307692307693
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

2: (at9 <= 3.179780935439958) => (d <= 1) |CERTAIN, AT_LEAST, 1|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6
Support: 4
SupportingExamples: 2, 3, 4, 6
Strength: 0.2222222222222222
Confidence: 1.0
CoverageFactor: 0.6666666666666666
Coverage: 4
CoveredExamples: 2, 3, 4, 6
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.5714285714285714
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

3: (at1 >= 6168.26489540709) => (d <= 2) |CERTAIN, AT_LEAST, 2|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12
Support: 11
SupportingExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12
Strength: 0.6111111111111112
Confidence: 1.0
CoverageFactor: 0.9166666666666666
Coverage: 11
CoveredExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.7857142857142857
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

4: (at3 >= 34.30465633300208) => (d <= 2) |CERTAIN, AT_LEAST, 2|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12
Support: 5
SupportingExamples: 1, 2, 4, 5, 11
Strength: 0.2777777777777778
Confidence: 1.0
CoverageFactor: 0.4166666666666667
Coverage: 5
CoveredExamples: 1, 2, 4, 5, 11
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.19230769230769232
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

#Certain at most rules
5: (at9 >= 8.493544936396667) => (d >= 3) |CERTAIN, AT_MOST, 3|
LearningPositiveExamples: 13, 14, 15, 16, 17, 18
Support: 4
SupportingExamples: 14, 15, 17, 18
Strength: 0.2222222222222222
Confidence: 1.0
CoverageFactor: 0.6666666666666666
Coverage: 4
CoveredExamples: 14, 15, 17, 18
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.5714285714285714
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

6: (at1 <= 3998.027472757989) & (at3 <= 29.63653298966147) => (d >= 3) |CERTAIN, AT_MOST, 3|
LearningPositiveExamples: 13, 14, 15, 16, 17, 18
Support: 5
SupportingExamples: 13, 14, 15, 16, 17
Strength: 0.2777777777777778
Confidence: 1.0
CoverageFactor: 0.8333333333333334
Coverage: 5
CoveredExamples: 13, 14, 15, 16, 17
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.7692307692307693
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

7: (at1 <= 16973.67421310987) => (d >= 2) |CERTAIN, AT_MOST, 2|
LearningPositiveExamples: 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18
Support: 11
SupportingExamples: 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18
Strength: 0.6111111111111112
Confidence: 1.0
CoverageFactor: 0.9166666666666666
Coverage: 11
CoveredExamples: 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.7857142857142857
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

8: (at8 >= 8.15166666666667) => (d >= 2) |CERTAIN, AT_MOST, 2|
LearningPositiveExamples: 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18
Support: 11
SupportingExamples: 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18
Strength: 0.6111111111111112
Confidence: 1.0
CoverageFactor: 0.9166666666666666
Coverage: 11
CoveredExamples: 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.7857142857142857
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

