[FILEINFO]
Program: jrs
Algorithm: VC-DOMLEM
DataFileDirectory: C:\Users\julio\Google Drive\1stRev DRSA_4OR\data\inputData\drsa\simulation_wrt_RefSetSize\rand18
DataFileName: drsa_countryRisk_2014_sim22.isf
Objects: 18
Decision: d
Duration: 8 [ms]
Comment: Rules generated with VC-DOMLEM algorithm

[PARAMETERS]
RulesFormat: INFORMATION_TABLE_PARETO
ConsistencyLevel: 1.0
Classes: 3, 2, 1

[ATTRIBUTES]
+ at1: (continuous), gain
+ at2: (continuous), gain
+ at3: (continuous), gain
+ at4: (continuous), gain
+ at5: (continuous), gain
+ at6: (continuous), gain
+ at7: (continuous), gain
+ at8: (continuous), cost
+ at9: (continuous), cost
+ d: [1, 2, 3], cost, decision

decision: d

[PREFERENCES]
at1: gain
at2: gain
at3: gain
at4: gain
at5: gain
at6: gain
at7: gain
at8: cost
at9: cost
d: cost

[RULES]
#Certain at least rules
1: (at6 >= 7.72605245997927E9) & (at7 >= 8000.0) => (d <= 1) |CERTAIN, AT_LEAST, 1|
2: (at7 >= 7410.0) => (d <= 2) |CERTAIN, AT_LEAST, 2|
3: (at8 <= 8.28916666666667) => (d <= 2) |CERTAIN, AT_LEAST, 2|
#Certain at most rules
4: (at1 <= 3838.185801483817) => (d >= 3) |CERTAIN, AT_MOST, 3|
5: (at8 >= 19.1333333333333) => (d >= 3) |CERTAIN, AT_MOST, 3|
6: (at3 <= -1.539765054486815) => (d >= 3) |CERTAIN, AT_MOST, 3|
7: (at6 <= 6.65421693969032E9) => (d >= 2) |CERTAIN, AT_MOST, 2|
8: (at7 <= 7410.0) => (d >= 2) |CERTAIN, AT_MOST, 2|

[RULESINFO]
#Certain at least rules
1: (at6 >= 7.72605245997927E9) & (at7 >= 8000.0) => (d <= 1) |CERTAIN, AT_LEAST, 1|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6
Support: 6
SupportingExamples: 1, 2, 3, 4, 5, 6
Strength: 0.3333333333333333
Confidence: 1.0
CoverageFactor: 1.0
Coverage: 6
CoveredExamples: 1, 2, 3, 4, 5, 6
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 1.0
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

2: (at7 >= 7410.0) => (d <= 2) |CERTAIN, AT_LEAST, 2|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12
Support: 10
SupportingExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
Strength: 0.5555555555555556
Confidence: 1.0
CoverageFactor: 0.8333333333333334
Coverage: 10
CoveredExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.625
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

3: (at8 <= 8.28916666666667) => (d <= 2) |CERTAIN, AT_LEAST, 2|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12
Support: 9
SupportingExamples: 1, 2, 3, 4, 6, 9, 10, 11, 12
Strength: 0.5
Confidence: 1.0
CoverageFactor: 0.75
Coverage: 9
CoveredExamples: 1, 2, 3, 4, 6, 9, 10, 11, 12
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.5
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

#Certain at most rules
4: (at1 <= 3838.185801483817) => (d >= 3) |CERTAIN, AT_MOST, 3|
LearningPositiveExamples: 13, 14, 15, 16, 17, 18
Support: 4
SupportingExamples: 15, 16, 17, 18
Strength: 0.2222222222222222
Confidence: 1.0
CoverageFactor: 0.6666666666666666
Coverage: 4
CoveredExamples: 15, 16, 17, 18
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.5714285714285714
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

5: (at8 >= 19.1333333333333) => (d >= 3) |CERTAIN, AT_MOST, 3|
LearningPositiveExamples: 13, 14, 15, 16, 17, 18
Support: 3
SupportingExamples: 14, 16, 17
Strength: 0.16666666666666666
Confidence: 1.0
CoverageFactor: 0.5
Coverage: 3
CoveredExamples: 14, 16, 17
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.4
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

6: (at3 <= -1.539765054486815) => (d >= 3) |CERTAIN, AT_MOST, 3|
LearningPositiveExamples: 13, 14, 15, 16, 17, 18
Support: 1
SupportingExamples: 13
Strength: 0.05555555555555555
Confidence: 1.0
CoverageFactor: 0.16666666666666666
Coverage: 1
CoveredExamples: 13
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.11764705882352941
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

7: (at6 <= 6.65421693969032E9) => (d >= 2) |CERTAIN, AT_MOST, 2|
LearningPositiveExamples: 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18
Support: 9
SupportingExamples: 8, 9, 10, 11, 13, 14, 16, 17, 18
Strength: 0.5
Confidence: 1.0
CoverageFactor: 0.75
Coverage: 9
CoveredExamples: 8, 9, 10, 11, 13, 14, 16, 17, 18
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.5
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

8: (at7 <= 7410.0) => (d >= 2) |CERTAIN, AT_MOST, 2|
LearningPositiveExamples: 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18
Support: 9
SupportingExamples: 7, 11, 12, 13, 14, 15, 16, 17, 18
Strength: 0.5
Confidence: 1.0
CoverageFactor: 0.75
Coverage: 9
CoveredExamples: 7, 11, 12, 13, 14, 15, 16, 17, 18
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.5
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

