[FILEINFO]
Program: jrs
Algorithm: VC-DOMLEM
DataFileDirectory: C:\Users\julio\Google Drive\1stRev DRSA_4OR\data\inputData\drsa\simulation_wrt_RefSetSize\rand18
DataFileName: drsa_countryRisk_2014_sim25.isf
Objects: 18
Decision: d
Duration: 12 [ms]
Comment: Rules generated with VC-DOMLEM algorithm

[PARAMETERS]
RulesFormat: INFORMATION_TABLE_PARETO
ConsistencyLevel: 1.0
Classes: 3, 2, 1

[ATTRIBUTES]
+ at1: (continuous), gain
+ at2: (continuous), gain
+ at3: (continuous), gain
+ at4: (continuous), gain
+ at5: (continuous), gain
+ at6: (continuous), gain
+ at7: (continuous), gain
+ at8: (continuous), cost
+ at9: (continuous), cost
+ d: [1, 2, 3], cost, decision

decision: d

[PREFERENCES]
at1: gain
at2: gain
at3: gain
at4: gain
at5: gain
at6: gain
at7: gain
at8: cost
at9: cost
d: cost

[RULES]
#Certain at least rules
1: (at1 >= 40454.44745789028) => (d <= 1) |CERTAIN, AT_LEAST, 1|
2: (at3 >= 48.44521278922483) => (d <= 1) |CERTAIN, AT_LEAST, 1|
3: (at5 >= 1.741614950634697E11) => (d <= 2) |CERTAIN, AT_LEAST, 2|
4: (at1 >= 25025.09956290829) => (d <= 2) |CERTAIN, AT_LEAST, 2|
5: (at3 >= 42.16728076638825) => (d <= 2) |CERTAIN, AT_LEAST, 2|
6: (at9 <= -0.4661456540828975) => (d <= 2) |CERTAIN, AT_LEAST, 2|
#Certain at most rules
7: (at1 <= 5210.675830281541) & (at3 <= 29.86377451731139) => (d >= 3) |CERTAIN, AT_MOST, 3|
8: (at1 <= 7923.851717265996) & (at3 <= 18.25124303400052) => (d >= 3) |CERTAIN, AT_MOST, 3|
9: (at8 >= 7.34833333333334) => (d >= 2) |CERTAIN, AT_MOST, 2|
10: (at1 <= 2749.386635740061) => (d >= 2) |CERTAIN, AT_MOST, 2|

[RULESINFO]
#Certain at least rules
1: (at1 >= 40454.44745789028) => (d <= 1) |CERTAIN, AT_LEAST, 1|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6
Support: 5
SupportingExamples: 1, 2, 3, 5, 6
Strength: 0.2777777777777778
Confidence: 1.0
CoverageFactor: 0.8333333333333334
Coverage: 5
CoveredExamples: 1, 2, 3, 5, 6
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.7692307692307693
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

2: (at3 >= 48.44521278922483) => (d <= 1) |CERTAIN, AT_LEAST, 1|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6
Support: 2
SupportingExamples: 2, 4
Strength: 0.1111111111111111
Confidence: 1.0
CoverageFactor: 0.3333333333333333
Coverage: 2
CoveredExamples: 2, 4
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.25
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

3: (at5 >= 1.741614950634697E11) => (d <= 2) |CERTAIN, AT_LEAST, 2|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12
Support: 9
SupportingExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9
Strength: 0.5
Confidence: 1.0
CoverageFactor: 0.75
Coverage: 9
CoveredExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.5
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

4: (at1 >= 25025.09956290829) => (d <= 2) |CERTAIN, AT_LEAST, 2|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12
Support: 6
SupportingExamples: 1, 2, 3, 5, 6, 10
Strength: 0.3333333333333333
Confidence: 1.0
CoverageFactor: 0.5
Coverage: 6
CoveredExamples: 1, 2, 3, 5, 6, 10
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.25
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

5: (at3 >= 42.16728076638825) => (d <= 2) |CERTAIN, AT_LEAST, 2|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12
Support: 4
SupportingExamples: 2, 4, 8, 11
Strength: 0.2222222222222222
Confidence: 1.0
CoverageFactor: 0.3333333333333333
Coverage: 4
CoveredExamples: 2, 4, 8, 11
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.14285714285714285
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

6: (at9 <= -0.4661456540828975) => (d <= 2) |CERTAIN, AT_LEAST, 2|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12
Support: 1
SupportingExamples: 12
Strength: 0.05555555555555555
Confidence: 1.0
CoverageFactor: 0.08333333333333333
Coverage: 1
CoveredExamples: 12
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.029411764705882353
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

#Certain at most rules
7: (at1 <= 5210.675830281541) & (at3 <= 29.86377451731139) => (d >= 3) |CERTAIN, AT_MOST, 3|
LearningPositiveExamples: 13, 14, 15, 16, 17, 18
Support: 4
SupportingExamples: 13, 14, 15, 16
Strength: 0.2222222222222222
Confidence: 1.0
CoverageFactor: 0.6666666666666666
Coverage: 4
CoveredExamples: 13, 14, 15, 16
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.5714285714285714
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

8: (at1 <= 7923.851717265996) & (at3 <= 18.25124303400052) => (d >= 3) |CERTAIN, AT_MOST, 3|
LearningPositiveExamples: 13, 14, 15, 16, 17, 18
Support: 4
SupportingExamples: 13, 15, 17, 18
Strength: 0.2222222222222222
Confidence: 1.0
CoverageFactor: 0.6666666666666666
Coverage: 4
CoveredExamples: 13, 15, 17, 18
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.5714285714285714
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

9: (at8 >= 7.34833333333334) => (d >= 2) |CERTAIN, AT_MOST, 2|
LearningPositiveExamples: 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18
Support: 11
SupportingExamples: 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18
Strength: 0.6111111111111112
Confidence: 1.0
CoverageFactor: 0.9166666666666666
Coverage: 11
CoveredExamples: 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.7857142857142857
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

10: (at1 <= 2749.386635740061) => (d >= 2) |CERTAIN, AT_MOST, 2|
LearningPositiveExamples: 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18
Support: 2
SupportingExamples: 8, 15
Strength: 0.1111111111111111
Confidence: 1.0
CoverageFactor: 0.16666666666666666
Coverage: 2
CoveredExamples: 8, 15
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.0625
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

