[FILEINFO]
Program: jrs
Algorithm: VC-DOMLEM
DataFileDirectory: C:\Users\julio\Google Drive\1stRev DRSA_4OR\data\inputData\drsa\simulation_wrt_RefSetSize\rand18
DataFileName: drsa_countryRisk_2014_sim24.isf
Objects: 18
Decision: d
Duration: 36 [ms]
Comment: Rules generated with VC-DOMLEM algorithm

[PARAMETERS]
RulesFormat: INFORMATION_TABLE_PARETO
ConsistencyLevel: 1.0
Classes: 3, 2, 1

[ATTRIBUTES]
+ at1: (continuous), gain
+ at2: (continuous), gain
+ at3: (continuous), gain
+ at4: (continuous), gain
+ at5: (continuous), gain
+ at6: (continuous), gain
+ at7: (continuous), gain
+ at8: (continuous), cost
+ at9: (continuous), cost
+ d: [1, 2, 3], cost, decision

decision: d

[PREFERENCES]
at1: gain
at2: gain
at3: gain
at4: gain
at5: gain
at6: gain
at7: gain
at8: cost
at9: cost
d: cost

[RULES]
#Certain at least rules
1: (at1 >= 20926.55404957111) & (at5 >= 7.878439531859557E10) => (d <= 1) |CERTAIN, AT_LEAST, 1|
2: (at2 >= 61.52261968031297) & (at6 >= 7.72605245997927E9) => (d <= 1) |CERTAIN, AT_LEAST, 1|
3: (at7 >= 8000.0) => (d <= 2) |CERTAIN, AT_LEAST, 2|
4: (at8 <= 5.76683333333333) => (d <= 2) |CERTAIN, AT_LEAST, 2|
5: (at9 <= 2.208786248393751) => (d <= 2) |CERTAIN, AT_LEAST, 2|
#Certain at most rules
6: (at8 >= 11.0513992821176) => (d >= 3) |CERTAIN, AT_MOST, 3|
7: (at3 <= 4.550228488693535) => (d >= 3) |CERTAIN, AT_MOST, 3|
8: (at7 <= 7610.0) => (d >= 2) |CERTAIN, AT_MOST, 2|
9: (at8 >= 10.5225) => (d >= 2) |CERTAIN, AT_MOST, 2|
10: (at6 <= 5.52771844019013E9) => (d >= 2) |CERTAIN, AT_MOST, 2|
11: (at1 <= 10725.18331660358) & (at2 <= 31.30565294593956) => (d >= 2) |CERTAIN, AT_MOST, 2|

[RULESINFO]
#Certain at least rules
1: (at1 >= 20926.55404957111) & (at5 >= 7.878439531859557E10) => (d <= 1) |CERTAIN, AT_LEAST, 1|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6
Support: 5
SupportingExamples: 1, 2, 4, 5, 6
Strength: 0.2777777777777778
Confidence: 1.0
CoverageFactor: 0.8333333333333334
Coverage: 5
CoveredExamples: 1, 2, 4, 5, 6
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.7692307692307693
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

2: (at2 >= 61.52261968031297) & (at6 >= 7.72605245997927E9) => (d <= 1) |CERTAIN, AT_LEAST, 1|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6
Support: 4
SupportingExamples: 2, 3, 4, 5
Strength: 0.2222222222222222
Confidence: 1.0
CoverageFactor: 0.6666666666666666
Coverage: 4
CoveredExamples: 2, 3, 4, 5
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.5714285714285714
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

3: (at7 >= 8000.0) => (d <= 2) |CERTAIN, AT_LEAST, 2|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12
Support: 10
SupportingExamples: 1, 2, 3, 4, 5, 6, 8, 9, 10, 11
Strength: 0.5555555555555556
Confidence: 1.0
CoverageFactor: 0.8333333333333334
Coverage: 10
CoveredExamples: 1, 2, 3, 4, 5, 6, 8, 9, 10, 11
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.625
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

4: (at8 <= 5.76683333333333) => (d <= 2) |CERTAIN, AT_LEAST, 2|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12
Support: 8
SupportingExamples: 1, 2, 4, 5, 6, 8, 11, 12
Strength: 0.4444444444444444
Confidence: 1.0
CoverageFactor: 0.6666666666666666
Coverage: 8
CoveredExamples: 1, 2, 4, 5, 6, 8, 11, 12
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.4
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

5: (at9 <= 2.208786248393751) => (d <= 2) |CERTAIN, AT_LEAST, 2|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12
Support: 4
SupportingExamples: 1, 5, 6, 7
Strength: 0.2222222222222222
Confidence: 1.0
CoverageFactor: 0.3333333333333333
Coverage: 4
CoveredExamples: 1, 5, 6, 7
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.14285714285714285
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

#Certain at most rules
6: (at8 >= 11.0513992821176) => (d >= 3) |CERTAIN, AT_MOST, 3|
LearningPositiveExamples: 13, 14, 15, 16, 17, 18
Support: 5
SupportingExamples: 13, 14, 15, 17, 18
Strength: 0.2777777777777778
Confidence: 1.0
CoverageFactor: 0.8333333333333334
Coverage: 5
CoveredExamples: 13, 14, 15, 17, 18
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.7692307692307693
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

7: (at3 <= 4.550228488693535) => (d >= 3) |CERTAIN, AT_MOST, 3|
LearningPositiveExamples: 13, 14, 15, 16, 17, 18
Support: 1
SupportingExamples: 16
Strength: 0.05555555555555555
Confidence: 1.0
CoverageFactor: 0.16666666666666666
Coverage: 1
CoveredExamples: 16
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.11764705882352941
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

8: (at7 <= 7610.0) => (d >= 2) |CERTAIN, AT_MOST, 2|
LearningPositiveExamples: 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18
Support: 8
SupportingExamples: 7, 12, 13, 14, 15, 16, 17, 18
Strength: 0.4444444444444444
Confidence: 1.0
CoverageFactor: 0.6666666666666666
Coverage: 8
CoveredExamples: 7, 12, 13, 14, 15, 16, 17, 18
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.4
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

9: (at8 >= 10.5225) => (d >= 2) |CERTAIN, AT_MOST, 2|
LearningPositiveExamples: 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18
Support: 6
SupportingExamples: 9, 13, 14, 15, 17, 18
Strength: 0.3333333333333333
Confidence: 1.0
CoverageFactor: 0.5
Coverage: 6
CoveredExamples: 9, 13, 14, 15, 17, 18
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.25
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

10: (at6 <= 5.52771844019013E9) => (d >= 2) |CERTAIN, AT_MOST, 2|
LearningPositiveExamples: 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18
Support: 3
SupportingExamples: 8, 10, 13
Strength: 0.16666666666666666
Confidence: 1.0
CoverageFactor: 0.25
Coverage: 3
CoveredExamples: 8, 10, 13
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.1
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

11: (at1 <= 10725.18331660358) & (at2 <= 31.30565294593956) => (d >= 2) |CERTAIN, AT_MOST, 2|
LearningPositiveExamples: 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18
Support: 6
SupportingExamples: 7, 11, 12, 13, 15, 18
Strength: 0.3333333333333333
Confidence: 1.0
CoverageFactor: 0.5
Coverage: 6
CoveredExamples: 7, 11, 12, 13, 15, 18
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.25
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

