[FILEINFO]
Program: jrs
Algorithm: VC-DOMLEM
DataFileDirectory: C:\Users\julio\Google Drive\1stRev DRSA_4OR\data\inputData\drsa\simulation_wrt_RefSetSize\rand18
DataFileName: drsa_countryRisk_2014_sim2.isf
Objects: 18
Decision: d
Duration: 12 [ms]
Comment: Rules generated with VC-DOMLEM algorithm

[PARAMETERS]
RulesFormat: INFORMATION_TABLE_PARETO
ConsistencyLevel: 1.0
Classes: 3, 2, 1

[ATTRIBUTES]
+ at1: (continuous), gain
+ at2: (continuous), gain
+ at3: (continuous), gain
+ at4: (continuous), gain
+ at5: (continuous), gain
+ at6: (continuous), gain
+ at7: (continuous), gain
+ at8: (continuous), cost
+ at9: (continuous), cost
+ d: [1, 2, 3], cost, decision

decision: d

[PREFERENCES]
at1: gain
at2: gain
at3: gain
at4: gain
at5: gain
at6: gain
at7: gain
at8: cost
at9: cost
d: cost

[RULES]
#Certain at least rules
1: (at8 <= 5.5155) => (d <= 1) |CERTAIN, AT_LEAST, 1|
2: (at4 >= 7.35757865257E9) => (d <= 2) |CERTAIN, AT_LEAST, 2|
3: (at1 >= 25025.09956290829) => (d <= 2) |CERTAIN, AT_LEAST, 2|
4: (at9 <= -0.4661456540828975) => (d <= 2) |CERTAIN, AT_LEAST, 2|
#Certain at most rules
5: (at1 <= 4568.542051312887) => (d >= 3) |CERTAIN, AT_MOST, 3|
6: (at4 <= -3.7721234393159E9) => (d >= 3) |CERTAIN, AT_MOST, 3|
7: (at3 <= 17.77169918160843) & (at8 >= 9.24666666666667) => (d >= 3) |CERTAIN, AT_MOST, 3|
8: (at8 >= 6.30391235390833) => (d >= 2) |CERTAIN, AT_MOST, 2|

[RULESINFO]
#Certain at least rules
1: (at8 <= 5.5155) => (d <= 1) |CERTAIN, AT_LEAST, 1|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6
Support: 6
SupportingExamples: 1, 2, 3, 4, 5, 6
Strength: 0.3333333333333333
Confidence: 1.0
CoverageFactor: 1.0
Coverage: 6
CoveredExamples: 1, 2, 3, 4, 5, 6
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 1.0
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

2: (at4 >= 7.35757865257E9) => (d <= 2) |CERTAIN, AT_LEAST, 2|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12
Support: 7
SupportingExamples: 1, 3, 6, 7, 9, 10, 11
Strength: 0.3888888888888889
Confidence: 1.0
CoverageFactor: 0.5833333333333334
Coverage: 7
CoveredExamples: 1, 3, 6, 7, 9, 10, 11
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.3181818181818182
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

3: (at1 >= 25025.09956290829) => (d <= 2) |CERTAIN, AT_LEAST, 2|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12
Support: 4
SupportingExamples: 2, 3, 4, 8
Strength: 0.2222222222222222
Confidence: 1.0
CoverageFactor: 0.3333333333333333
Coverage: 4
CoveredExamples: 2, 3, 4, 8
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.14285714285714285
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

4: (at9 <= -0.4661456540828975) => (d <= 2) |CERTAIN, AT_LEAST, 2|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12
Support: 2
SupportingExamples: 4, 12
Strength: 0.1111111111111111
Confidence: 1.0
CoverageFactor: 0.16666666666666666
Coverage: 2
CoveredExamples: 4, 12
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.0625
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

#Certain at most rules
5: (at1 <= 4568.542051312887) => (d >= 3) |CERTAIN, AT_MOST, 3|
LearningPositiveExamples: 13, 14, 15, 16, 17, 18
Support: 4
SupportingExamples: 14, 15, 16, 17
Strength: 0.2222222222222222
Confidence: 1.0
CoverageFactor: 0.6666666666666666
Coverage: 4
CoveredExamples: 14, 15, 16, 17
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.5714285714285714
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

6: (at4 <= -3.7721234393159E9) => (d >= 3) |CERTAIN, AT_MOST, 3|
LearningPositiveExamples: 13, 14, 15, 16, 17, 18
Support: 1
SupportingExamples: 13
Strength: 0.05555555555555555
Confidence: 1.0
CoverageFactor: 0.16666666666666666
Coverage: 1
CoveredExamples: 13
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.11764705882352941
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

7: (at3 <= 17.77169918160843) & (at8 >= 9.24666666666667) => (d >= 3) |CERTAIN, AT_MOST, 3|
LearningPositiveExamples: 13, 14, 15, 16, 17, 18
Support: 3
SupportingExamples: 16, 17, 18
Strength: 0.16666666666666666
Confidence: 1.0
CoverageFactor: 0.5
Coverage: 3
CoveredExamples: 16, 17, 18
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.4
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

8: (at8 >= 6.30391235390833) => (d >= 2) |CERTAIN, AT_MOST, 2|
LearningPositiveExamples: 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18
Support: 12
SupportingExamples: 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18
Strength: 0.6666666666666666
Confidence: 1.0
CoverageFactor: 1.0
Coverage: 12
CoveredExamples: 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 1.0
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

