[FILEINFO]
Program: jrs
Algorithm: VC-DOMLEM
DataFileDirectory: C:\Users\julio\Google Drive\1stRev DRSA_4OR\data\inputData\drsa\simulation_wrt_RefSetSize\rand9
DataFileName: drsa_countryRisk_2014_sim29.isf
Objects: 9
Decision: d
Duration: 8 [ms]
Comment: Rules generated with VC-DOMLEM algorithm

[PARAMETERS]
RulesFormat: INFORMATION_TABLE_PARETO
ConsistencyLevel: 1.0
Classes: 3, 2, 1

[ATTRIBUTES]
+ at1: (continuous), gain
+ at2: (continuous), gain
+ at3: (continuous), gain
+ at4: (continuous), gain
+ at5: (continuous), gain
+ at6: (continuous), gain
+ at7: (continuous), gain
+ at8: (continuous), cost
+ at9: (continuous), cost
+ d: [1, 2, 3], cost, decision

decision: d

[PREFERENCES]
at1: gain
at2: gain
at3: gain
at4: gain
at5: gain
at6: gain
at7: gain
at8: cost
at9: cost
d: cost

[RULES]
#Certain at least rules
1: (at1 >= 68150.10704132149) => (d <= 1) |CERTAIN, AT_LEAST, 1|
2: (at2 >= 76.87095181019235) => (d <= 1) |CERTAIN, AT_LEAST, 1|
3: (at1 >= 9637.00265000958) => (d <= 2) |CERTAIN, AT_LEAST, 2|
#Certain at most rules
4: (at1 <= 7186.431924061808) => (d >= 3) |CERTAIN, AT_MOST, 3|
5: (at1 <= 11889.12762743854) => (d >= 2) |CERTAIN, AT_MOST, 2|
6: (at3 <= 18.00055753547638) => (d >= 2) |CERTAIN, AT_MOST, 2|

[RULESINFO]
#Certain at least rules
1: (at1 >= 68150.10704132149) => (d <= 1) |CERTAIN, AT_LEAST, 1|
LearningPositiveExamples: 1, 2, 3
Support: 2
SupportingExamples: 1, 2
Strength: 0.2222222222222222
Confidence: 1.0
CoverageFactor: 0.6666666666666666
Coverage: 2
CoveredExamples: 1, 2
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.5714285714285714
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

2: (at2 >= 76.87095181019235) => (d <= 1) |CERTAIN, AT_LEAST, 1|
LearningPositiveExamples: 1, 2, 3
Support: 2
SupportingExamples: 2, 3
Strength: 0.2222222222222222
Confidence: 1.0
CoverageFactor: 0.6666666666666666
Coverage: 2
CoveredExamples: 2, 3
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.5714285714285714
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

3: (at1 >= 9637.00265000958) => (d <= 2) |CERTAIN, AT_LEAST, 2|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6
Support: 6
SupportingExamples: 1, 2, 3, 4, 5, 6
Strength: 0.6666666666666666
Confidence: 1.0
CoverageFactor: 1.0
Coverage: 6
CoveredExamples: 1, 2, 3, 4, 5, 6
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 1.0
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

#Certain at most rules
4: (at1 <= 7186.431924061808) => (d >= 3) |CERTAIN, AT_MOST, 3|
LearningPositiveExamples: 7, 8, 9
Support: 3
SupportingExamples: 7, 8, 9
Strength: 0.3333333333333333
Confidence: 1.0
CoverageFactor: 1.0
Coverage: 3
CoveredExamples: 7, 8, 9
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 1.0
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

5: (at1 <= 11889.12762743854) => (d >= 2) |CERTAIN, AT_MOST, 2|
LearningPositiveExamples: 4, 5, 6, 7, 8, 9
Support: 5
SupportingExamples: 4, 6, 7, 8, 9
Strength: 0.5555555555555556
Confidence: 1.0
CoverageFactor: 0.8333333333333334
Coverage: 5
CoveredExamples: 4, 6, 7, 8, 9
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.625
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

6: (at3 <= 18.00055753547638) => (d >= 2) |CERTAIN, AT_MOST, 2|
LearningPositiveExamples: 4, 5, 6, 7, 8, 9
Support: 3
SupportingExamples: 5, 7, 8
Strength: 0.3333333333333333
Confidence: 1.0
CoverageFactor: 0.5
Coverage: 3
CoveredExamples: 5, 7, 8
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.25
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity

